* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Philosopher', sans-serif;
  }


  .philosopher-regular {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .philosopher-regular-italic {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .philosopher-bold {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .philosopher-bold-italic {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  Outlet {
    margin-bottom: 30px;
  }
  
  .background-container {
    background-image: url('../src/assets/light_grey_dots_background.jpg');
    z-index: -1;
    background-size: 20%;
    background-repeat: repeat;
    width: 100%;
    min-height: 100vh;
  }